body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#submit-task-btn {
    margin-top: 50px;
}

#select-element-1 {
    background-color: red;
    margin-bottom: 50px;
    margin-top: 100px;
}

#select-element {
    background-color:blue;
    margin-bottom: 50px;
}